.aboutForm{ 
    background: #F7F7F7;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    margin:0;
    padding: 0 60px;

.about{
    line-height: 1.5em;
    letter-spacing: 1px;

    p{
    width: 300px;
    }
  }
}