$blue:#2F7BF6;
$gray:#F7F7F7;
$darkgray: #697174;
$white:#FFFFFF;


.form{
    display:flex;
    flex-flow: column wrap;
    background: $gray;

    .totalSum{
        color: red;
        text-transform: uppercase;
        font-size: 2em;
    }

    .questions:nth-child(even){
        background: $white;
    }

    .questions{
        height: 150px;
        padding: 10px;
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    p{
        font-size: 1em;
        color: black;
        max-width: 100%;
        width: 465px;
        text-align: left;
    }

    select {
        border: 1px solid $blue;
        max-width: 100%;
        width: 465px;
        height: 35px;
    }
}

